$slate: #f8fafc;
$slate-1: #f1f5f9;
$slate-2: #e2e8f0;
$slate-3: #cbd5e1;
$slate-4: #94a3b8;
$slate-5: #64748b;
$slate-6: #475569;
$slate-7: #334155;
$slate-8: #1e293b;
$slate-9: #0f172a;

$white: white;
$black: black;

$red: #c03447;
$red-variant: #b32639;

$orange: #c06734;
$orange-variant: #b34726;

$yellow: #f5c800;
$yellow-variant: #cca700;

$green: #34c063;
$green-variant: #23af52;

$blue: #3481c0;
$blue-variant: #236ca8;

$primary: $blue;
$primary-variant: $blue-variant;
