@use "../../styles/utils/responsive" as responsive;
@use "../../styles/utils/mixins-shadows" as shadows;
@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/utils/mixins-text-sizes" as textSizes;

.navbar {
  padding: 20px 0;
  background-color: colors.$white;

  @include shadows.shadow;

  .container {
    @include responsive.container;

    .wrapper {
      display: flex;
      justify-content: space-between;

      .brand {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 40px;
        }

        h1 {
          font-weight: 900;
          letter-spacing: -1.5px;
          @include textSizes.text-2xl;
        }
      }

      .links {
        .githubLink {
          svg {
            @include textSizes.text-lg;
          }
        }
      }
    }
  }
}
